/* Use your own code or past solution for Great Idea Web Page CSS here! */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body {
	background-color: #ccc;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 2rem;
}

p {
	line-height: 1.5;
}

img {
    width: 100%;
}

.container {
	max-width: 960px;
	margin: 1rem auto;
	padding: 1rem 3rem;
	background-color: #fff;
	box-shadow: 2px 2px .4rem rgba(0, 0, 0, .3);
}

header,
.nav-link {
	display: flex;
}

header {
	position: fixed;
	background-color: #fff;
	width: 960px;
	align-items: center;
	padding: 1rem;
	box-shadow: 2px 2px .4rem rgba(0, 0, 0, .3);
	margin: 0 -3rem;
	top: 0;
	justify-content: space-between;
}

@media (max-width: 800px) {
    header {
        flex-direction: column-reverse;
        width: 100%;
    }
    nav {
        padding-top: 1rem;
        width: 100%;
        text-align: center;
    }
    .nav-link {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .container {
        margin: 0;
    }
    header {
        position: unset;
        width: 100%;
        margin: 0;
        box-shadow: unset;
    }

    .nav-link {
        flex-direction: column;
    }
}

.link-items {
	padding: 0 1.5rem;
	font-weight: bold;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, .09);
}

.link-items a {
	color: #777;
	font-size: .8rem;
	text-decoration: none;
}

@media (max-width: 500px) {
    .link-items {
        padding: 1rem;
        border-bottom: 1px solid black
    }
    .link-items:nth-of-type(1) {
        border-top: 1px solid black;
    }
    .link-items a {
        font-size: 1rem;
    }
}

.logo {
	padding-right: 1.5rem;
}

.hero {
	margin-top: 5rem;
	padding: 3rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.hero-text {
	text-align: center;
}

button {
	padding: .5rem 2rem;
	background: transparent;
	border: 1px solid black;
}

.content-details,
.services-details {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 2rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.features,
.content-image,
.about,
.services,
.product,
.vision {
	margin-bottom: 1rem;
}

.features,
.about {
	flex-basis: 48%;
}

.features {
	margin-right: .5rem;
}

.services,
.product,
.vision {
	flex-basis: 31.5%;
}

address {
	padding-top: 2rem;
}

address p {
	padding-top: 1rem;
	line-height: 1.25;
}

.copy {
	margin-top: 2rem;
	text-align: center;
}
